{% extends 'main.html' %}

{% load static %}
{% block head %}<link rel="stylesheet" href="{% static 'editor.css' %}">{% endblock head %}



{% block content %}
<button class="home">Home</button>

<div class="img"></div>
<br>

<form enctype="multipart/form-data", action="/add">
    <label class="add_file" for="file">&#128190;</label>
    <input class="file", id="file", name="file", type="file", required >
    
    </label>
    <br>
    <input name="text" type="text", required>
    <br>
    <input type="submit">
</form>

{% endblock content %}


